@import "reset";
@import "variables";
@import "bases";

body {
  background: var(--main);
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background: var(--card);
    padding: 2rem;
    border-radius: 10px;
    height: auto;
    max-width: 34rem;
    

    header {
      display: inline-block;
      justify-content: center;
      margin-bottom: 2rem;
      position: relative;
      &:hover {
        .overlay {
          opacity: 1;
          cursor: pointer;
        }
      }
      .logo {
           
        img {
          max-width: 30rem;
          max-height: 30rem;
          border-radius: 10px;
          transition: 0.5s ease;
          
          
        }
      }
      .overlay {
        img{
          height: 48px;
          
        }
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s ease;
       position: absolute;
       top: 0;
       left: 0;
      text-align: center;
      opacity: 0;
      background: hsl(178, 100%, 50%,0.5);
      width: 30rem;
      height: 30rem;
      border-radius: 10px;
    }
    }
    

    main {
      border-bottom: 1px solid var(--line);
      padding-bottom: 2rem;
      h2 {
        color: white;
        font-weight: 400;
        margin-bottom: 2rem;
        &:hover {
          color: var(--token);
          cursor: pointer;
        }
      }
      p {
        margin-bottom: 2rem;
      }
      .sub-main {
        display: flex;
        justify-content: space-between;
      }
      .token {
        color: var(--token);
      }
    }
    footer {
      padding: 1.5rem 0;
      .author {
        display: flex;
        align-items: center;
        .jules {
          height: 4rem;
          width: 4rem;
          border-radius: 50%;
          border: 1px solid white;
          margin-right: 1rem;
        }
        span {
          color: white;
          &:hover {
            color: var(--token);
            cursor: pointer;
          }

        }
      }
    }
  }
}
